[submodule "themes/themes/ananke"]
	path = themes/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/themes/hugo-theme-itheme"]
	path = themes/themes/hugo-theme-itheme
	url = https://github.com/floyd-li/hugo-theme-itheme.git
